<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/weather">weather</a></li>
</ul>
<h1>{{ title }}</h1>
<p>{{ text }}</p>
<form id="weather-form">
    <input type="text" name="address" placeholder="Enter your address" id="address-input">
    <input type="submit">
</form>
<p id="weather-result"></p>
<script src="/scripts/main.js"></script>
</body>
</html>